@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	font-family: var(--font-barlow);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-fraunces);
}


@layer components {
	.link {
		@apply cursor-pointer p-1 px-5 transition ease-in-out duration-300 font-bold ;
	  }
	  
	  .link:hover {
		@apply text-light-cyan;
	  }
	  
	  .link:focus {
		@apply outline-none text-light-cyan ring-opacity-100;
	  }
	  


  }